@media(max-width:1000px) {



    /* modal */
    .modCont {
        width: 80%;
        margin-top: -620vh;
    }

    .modCont p {
        width: 45%;
        line-height: 2.5vh;
    }



    /* programmer */
    #programs {
        margin-bottom: 10vh;
    }

    #programs div {
        width: 79.6%;
    }

    #programs section {
        width: 78.5%;
    }

    #programs div section {
        margin-bottom: 1.5vh;
    }

    /* cv */
    #curriculum {
        margin-bottom: 10vh;
    }

    /* kontakt */
    #contact {
        margin-bottom: 10vh;
    }

    #contact p {
        width: 100%;
    }

    #contEmail {
        margin-top: -2.5vh;
    }

    #contact img {
        height: 2vh;
        margin-right: 2vh;
        margin-top: 0.7vh;
    }

    /* kontaktinformationer */
    #contact div div div {
        margin-bottom: 2vh;
    }

    /* kontaktformular */
    input {
        height: 3.5vh;
    }

    button {
        padding-top: 0;
        font-size: calc(10px + 0.390625vw);
    }

    /* linje */
    #twirl {
        margin-top: 40vh;
        margin-left: -23vw;
        width: 26vw;
    }

    /* udtalelser */
    #others div {
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 5vh;
    }

    #others div section {
        width: 48%;
        height: 55vh;
        margin-bottom: 2vh;
        line-height: 2.5vh;
    }

    #others h2 {
        margin-bottom: 40px;
    }

    #others h5 {
        font-size: calc(15px + 0.390625vw);
        margin-bottom: 1vh;
    }

    #others p {
        font-size: 16px;
    }

    .proff {
        font-size: 1.5vw !important;
        margin-top: -0.5vh;
        margin-bottom: 1vh;
    }
}