@media screen and (max-width:450px) {


    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 6.5vw;
        margin-bottom: 8vh;
    }

    h4 {
        font-size: 6.5vw;
    }

    h5 {
        font-size: 2vh;
    }

    p {
        font-size: 1.75vh;
    }

    /* header */
    header {
        width: 100%;
    }

    header::after {
        width: 85%;
        left: 5%;
    }

    .burger {
        width: 10%;
        margin-right: 10vw !important;
    }

    /* værktøjer */
    #tools {
        width: 100%;
        align-items: center;
    }

    #tools div {
        width: 70%;
        margin-bottom: 10vh;
        align-items: center;
    }

    #tools div section {
        width: 90% !important;
        height: 45vh !important;
        margin-bottom: 2vh;
    }

    #tools img {
        height: 10vh !important;
        width: auto;
        margin: 3vw !important;
    }

    .uline {
        margin-bottom: 0;
    }

    #tools p {
        width: 80%;
        margin-top: -7vh;
    }

    #ado {
        font-size: 3.5vw !important;
    }

    header img {
        background-color: none;
    }
}

@media screen and (max-width:1080px) {
    #twirl {
        display: none;
    }

    /* header */
    header img {
        margin-top: 0.5vh;
        width: 8vw;
    }

    nav {
        display: none;
    }

    /* overskrift */
    #heading p {
        margin-left: 0;
        transform: rotate(0);
    }

    /* hvem er jeg */
    .modCont {
        display: block;
        width: 70%;
        height: 72vh;
        border-radius: 17px;
        padding: 2%;
        z-index: 10;
    }

    #whoami {
        margin-bottom: 10vh;
        margin-top: 1;
    }

    #whoami h2 {
        margin-bottom: 1vh;
        margin-top: -3vh;
    }

    #whoami section {
        width: 80%;
    }

    #whoami section:first-child div {
        margin-bottom: 10vh;
    }

    #whoami section:first-child img {
        width: 40%;
        border-radius: 0px 0px 0px 17px;
    }

    #whoamiCont {
        flex-direction: column;
    }

    #whoami p {
        line-height: 2.5vh;
        margin-top: 1vh;
    }

    /* fun */
    #whoami section:last-child h4 {
        font-size: 5vw;
    }

    .text_border {
        font-size: 5vw;
    }

    /* funfacts */
    #whoami section:last-child div {
        flex-direction: column;
    }

    #whoami section:last-child div div {
        height: 25vh;
        width: 100%;
        margin-bottom: 2vh;
    }

    #whoami section:last-child div div:nth-child(2) {
        padding-top: 3.5vh;
    }

    #whoami section:last-child div img {
        height: 10vh;
        width: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    /* portfolio */
    #pfcont div {
        flex-direction: column;
        margin-bottom: 7.5vh;
    }

    #pfcont div section {
        width: 100%;
        height: 30vh;
        margin-bottom: 2vh;
    }

    #pfcont h3 {
        margin-top: -1vh;
        margin-bottom: 1vh;
    }

    #pfcont img {
        margin-top: -0.5vh;
        height: 17vh;
    }

    /* tools */

    #tools {
        width: 100%;
    }

    #tools div {
        flex-direction: column;
        margin-bottom: 7.5vh;
        width: 100%;
    }

    #tools div section {
        width: 100%;
        height: 30vh;
        margin-bottom: 2vh;
    }

    #tools h3 {
        margin-top: -1vh;
        margin-bottom: 1vh;
    }

    #tools img {
        margin-top: -0.5vh;
        height: 17vh;
    }

    /* programs */
    #programs div {
        flex-direction: column;
    }

    #programs div section:last-child,
    #programs div section:first-child {
        width: 100%;
    }

    #programs img {
        margin-right: 5vw;
    }

    #others div section {
        height: 70vh !important;
    }

    .logoCont,
    .projCont,
    .illuCont {
        flex-direction: column-reverse;
    }

    .logoContText,
    .projContText,
    .illuContText {
        width: 100% !important;
        padding-right: 10%;
        font-size: 3.1vw;
    }

    .logoContText p,
    .projContText p,
    .illuContText p {
        line-height: 0.8vh;
        margin-bottom: 2vh;
    }

    .modCont {
        height: 80vh;
        justify-content: center !important;
        width: 80%;
        top: 15vh;
        left: 9.5%;
    }

    .modCont h2 {
        margin-top: -5%;
        font-size: 5.5vw;
    }

    .logoLeft {
        margin-right: 0;
    }

    .proces1,
    .proces2 {
        height: 15vh;
    }

    .proces3 {
        width: 60vw;
        border-radius: 10px;
    }

    #closeWeb,
    #closeLogo,
    #closeIllu {
        height: 2vh;
        margin: 2% 2% 0 0;
    }

    #webArrowLeft,
    #webArrowRight,
    #logoArrowLeft,
    #logoArrowRight,
    #illuArrowLeft,
    #illuArrowRight {
        height: 3vh;
        margin-top: 30vh;
        cursor: pointer;
    }
}

@media screen and (max-width:1450px) {


    #twirl {
        width: 23vw;
        margin-top: 26vh;
    }

    #others div section {
        height: 95vh;
    }

    /* værktøjer */
    #tools div {
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 10vh;
    }

    #tools div section {
        width: 100%;
        height: 50vh;
        margin-bottom: 2vh;
    }

    /* kontakt */
    #contact {
        margin-bottom: 10vh;
        margin-top: -10vh;
    }

    #contact_content {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    #contact_content div {
        width: 100%;
    }

    #contact_content p {
        text-align: center;
        margin: 0 !important;
        width: 100%;
    }

    input,
    textarea {
        border-radius: 5px;
        width: 95%;
        font-size: 1.5vh;
    }

    button {
        font-weight: 400;
        width: 95%;
        height: 3.5vh;

    }

    #others div {
        flex-direction: column;
        width: 80%;
    }

    #others div section {
        width: 100%;
        height: 50vh;
        margin-bottom: 2vh;
    }

    #phone,
    #contEmail img {
        display: none;
    }

    #contEmail {
        margin-bottom: -5vh;
    }

    #others p {
        line-height: 3vh;
        font-size: 2vh;
    }

    .proff {
        font-size: 1.5vh !important;
    }

    /* curriculum */
    @media(max-width:1000px) {
        .timeline {
            width: 100%;
        }
    }

    @media (max-width:767px) {

        /* cv */
        #curriculum {
            width: 60%;
        }

        .timeline {
            width: 100%;
            padding-bottom: 0;
        }

        .respAlign {
            justify-content: left;
            text-align: left;
            margin-bottom: 5vh;
        }

        .timeline:before {
            left: 20px;
            height: 100%;
        }

        .timeline ul li:nth-child(odd),
        .timeline ul li:nth-child(even) {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
        }

        .timeline ul li:nth-child(odd):before,
        .timeline ul li:nth-child(even):before {
            top: -18px;
            left: 16px;
        }

        .timeline ul li:nth-child(odd) .time,
        .timeline ul li:nth-child(even) .time {
            top: -30px;
            left: 50px;
            right: inherit;
        }

        /* timeline2 */
        .timeline2 {
            width: 100%;
            padding-bottom: 0;
        }

        .timeline2:before {
            left: 20px;
            height: 100%;
        }

        .timeline2 ul li:nth-child(odd),
        .timeline2 ul li:nth-child(even) {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            padding-bottom: 50px;
        }

        .timeline2 ul li:nth-child(odd):before,
        .timeline2 ul li:nth-child(even):before {
            top: -18px;
            left: 16px;
        }

        .timeline2 ul li:nth-child(odd) .time,
        .timeline2 ul li:nth-child(even) .time {
            top: -30px;
            left: 50px;
            right: inherit;
        }
    }
}