/**************************************************************************/
/***** overskrift *****/
#heading {
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    margin-bottom: 2vh;
    height: auto;
    flex-shrink: 0;
}

/* #heading p {
    position: absolute;
    font-size: 2vh;
    font-weight: 700;

    margin-top: -30px;
    margin-left: -35vw;

    letter-spacing: 3.99px;
    transform: rotate(-7.728deg);
} */

/** gradient "min" **/
/* giver gradient på ordet "min" i overskriften */
.gradient-text_01 {
    background-image: linear-gradient(to right, #7FA810, #7DC1E8);
    background-clip: text;
    color: transparent;
}

.solo_color {
    background-image: linear-gradient(to right, #7FA810, #7FA810);
    background-clip: text;
    color: transparent;
}

#heading h1 {
    text-align: right;
    line-height: 5vh;
    letter-spacing: 1.5vw;
    margin-left: 18px;
}

/**************************************************************************/
/***** hvem er jeg *****/
#whoami {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10vh;
}

#whoami h2 {
    margin-bottom: 2vh;
    font-size: 1.5vw;
}

#whoami section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

#whoami section:first-child div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

#whoami section:first-child img {
    /* height: 60%; */
    width: 40%;
    border-radius: 0px 0px 0px 17px;
}

#whoami section:first-child p {
    text-align: left;
    margin-left: 2.5vw;
}

/**************************************************************************/
/*** funfacts ****/
#whoami section:last-child {
    width: 70%;
}

#whoami section:last-child div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#whoami h4 {
    margin-bottom: 2vh;
}

#whoami p {
    width: 75%;
}

.text_border {
    color: transparent;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D8FDF6;
}

#whoami section:last-child div div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 26vh;
    width: 22.5vw;
    border-radius: 17px;
    background-color: #05504a85;
}

#whoami section:last-child img {
    height: 12vh;
    width: auto;
}

#lego {
    margin-top: 2vh;
    margin-bottom: 2vh;
}


/**************************************************************************/
/***** portfolio *****/
#pfcont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

#pfcont h2 {
    margin-bottom: 2vh;
}

#pfcont div {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#pfcont div section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    height: 60vh;
    border-radius: 17px;
    margin-bottom: 12.5vh;
    transition: transform 0.3s ease;
    /* Tilføjer en overgang for en glat effekt */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    /* Start med ingen skygge */
    z-index: 1;
}

#pfcont div section:first-child {
    background-color: #5c0a4085;
}

#pfcont div section:first-child:hover {
    box-shadow: 0 0 30px rgba(146, 59, 117, 0.7);
    /* Tilføj en baggrunds-glød ved hover */
}

#pfcont div section:nth-child(2) {
    background-color: #0f395285;
}

#pfcont div section:nth-child(2):hover {
    box-shadow: 0 0 20px rgba(28, 103, 146, 0.7);
}

#pfcont div section:nth-child(3) {
    background-color: #05504a85;
}

#pfcont div section:nth-child(3):hover {
    box-shadow: 0 0 20px rgba(8, 116, 107, 0.7);
}

#pfcont div section:hover {
    transform: scale(1.05);
    /* Skaler sektionen en smule større ved hover */
}

#pfcont img {
    margin-top: 10vh;
}

/**************************************************************************/
/***** modal *****/
#projRed {
    background: linear-gradient(45deg, #5c0a40, #2b011d);
}

#logoBlue {
    background: linear-gradient(45deg, #0c2c3f, #011520);
}

#illuGreen {
    background: linear-gradient(45deg, #03302C, #001816);

}

#projRed,
#proj2,
#proj3,
#logoBlue,
#logo2,
#logo3,
#illuGreen,
#illu2,
#illu3 {
    display: none;
}

.projCont,
.logoCont,
.illuCont {
    display: flex;
    justify-content: space-between;
    top: 0;
}

.projCont div {
    margin: auto;
}

.modCont {
    display: block;
    width: 70%;
    height: 67vh;
    border-radius: 17px;
    padding: 2%;
    position: fixed;
    top: 25vh;
    left: 15%;
    z-index: 10;
}

.closeBtn {
    display: flex;
    justify-content: right;
    cursor: pointer;
}

#closeWeb {
    height: 3vh;
}

#webArrowLeft,
#webArrowRight,
#logoArrowLeft,
#logoArrowRight,
#illuArrowLeft,
#illuArrowRight {
    height: 5vh;
    margin-top: 30vh;
    cursor: pointer;
}

.modCont h2 {
    padding-left: 5%;
}

.modCont p {
    width: 45%;
    margin: 2% 0 0 5%;
}

.innerModCont {
    display: flex;
}

/* billeder og prikker */
/* Slides */
#proj1Mock2 {
    width: 25vw;
    border-radius: 17px;
}

#proj1Mock1,
#proj1Mock2,
#proj2Mock1,
#proj2Mock2,
#proj3Mock1,
#proj3Mock2 {
    display: none;
    text-align: center;
}

.webLeft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
}

.mockDesk {
    width: 25vw;
    border-radius: 17px;
}

.mockPhone {
    width: 10vw;
    border-radius: 17px;
}

#mockAni {
    width: 25vw;
    border-radius: 17px;
}

/* STYLING AF SELVE PRIKKERNE */
.prikker {
    display: flex;
}

.prikstil {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 20px 5px;
    background-color: #5a5a5a;
    border-radius: 50%;
    transition: 0.9s ease;
}

#active,
.prikstil:hover,
.prikstil:hover {
    background-color: #bdb8b8;
}

/* Hover */
.activePrik {
    background-color: #bdb8b8 !important;
    /* !important sikrer, at denne stil prioriteres */
}

.portLink {
    text-decoration: none;
    font-size: 1vw;
    font-style: italic;
}

/**************************************************************************/
/* logoproces */
.logoLeft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.proces1 {
    height: 35vh;
    border-radius: 17px;
}

.proces2 {
    height: 35vh;
    border-radius: 17px;
}

.proces3 {
    width: 20vw;
    border-radius: 12px;
}

#logo1Proc1,
#logo1Proc2,
#logo1Proc3,
#logo1Proc4,
#logo1Proc5,
#logo2Proc1,
#logo2Proc2,
#logo2Proc3,
#logo2Proc4,
#logo2Proc5,
#logo3Proc1,
#logo3Proc2,
#logo3Proc3,
#logo3Proc4,
#logo3Proc5 {
    display: none;
    text-align: center;
}



.illuCont {
    margin-right: 5%;
}

#illustration1,
#illustration2,
#illustration3 {
    width: 25vw;
    border-radius: 17px;
}

#laes {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0;
}

#laes a {
    text-decoration: none;
    margin-top: 1vh;
}

/**************************************************************************/
/***** Værktøjer *****/
#tools {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

#tools h4 {
    margin-bottom: 4vh;
}

#tools div {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#tools div section {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 47vh;
    border-radius: 17px;
    margin-bottom: 10vh;
    text-align: justify;
}

#tools img {
    height: 10vh;
    width: auto;
    margin: 1vw;
}

#tools p {
    width: 80%;
    margin-top: 2vh;
    line-height: 2.5vh;
}

#tools div section:first-child {
    background-color: #7FA810;
}

#tools div section:nth-child(2) {
    background-color: #750B51;
}

#tools div section:nth-child(3) {
    background-color: #D8FDF6;
    color: #010E0D;
}

#tools div section:nth-child(3) p {
    color: #010E0D;
}

#tools div section:nth-child(4) {
    background-color: #7dc1e8ce;
}

.uline {
    height: 3px;
    width: 75%;
    background-color: #010E0D;
}

/**************************************************************************/
/***** programmer *****/
#programs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20vh;
}

#programs h4 {
    margin-bottom: 4vh;
}

#programs p {
    font-size: 2.5vh;
}

#programs div {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#programs img {
    height: 4.5vh;
    margin-right: 20px;
}

#programs div section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9vh;
    border-radius: 17px;
    margin-bottom: 3vh;
}

#programs div section:first-child {
    width: 64%;
    background-color: #0f395285;
}

#programs div section:last-child {
    width: 33%;
    background-color: #5c0a4085;
}

#programs section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9vh;
    border-radius: 17px;
    width: 69%;
    background-color: #05504a85;
}

/**************************************************************************/
/***** cv *****/
#curriculum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 70%;
    margin-bottom: 20vh;
}

#studyAct {
    font-size: calc(30px + 0.390625vw);
}

.timeline {
    position: relative;
    margin: 10px auto;
    padding: 0px 0;
    width: 75vw;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #750B51;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: #7FA810;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #2b3a03;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: #7FA810;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #2b3a03;
}

.timeline ul li h4 {
    padding: 0;
    margin: 10px 0 0 0;
    color: #7DC1E8;
    font-weight: 600;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h5 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #750B51;
    border-radius: 17px;
    box-shadow: 0 0 0 3px #330223;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #750B51;
    border-radius: 17px;
    box-shadow: 0 0 0 3px #330223;
}

/* tidslinje - modsat*/
.timeline2 {
    position: relative;
    margin: 10px auto;
    padding: 0px 0;
    width: 75vw;
    box-sizing: border-box;
}

.timeline2:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #750B51;
}

.timeline2 ul {
    padding: 0;
    margin: 0;
}

.timeline2 ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline2 ul li:nth-child(even) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline2 ul li:nth-child(odd) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline2 ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: #7FA810;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #2b3a03;
}

.timeline2 ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: #7FA810;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #2b3a03;
}

.timeline2 ul li h4 {
    padding: 0;
    margin: 10px 0 0 0;
    color: #7DC1E8;
    font-weight: 600;
}

.timeline2 ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline2 ul li .time h5 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline2 ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #750B51;
    border-radius: 17px;
    box-shadow: 0 0 0 3px #330223;
}

.timeline2 ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #750B51;
    border-radius: 17px;
    box-shadow: 0 0 0 3px #330223;
}

/********************************************************************/
/***** kontakt *****/
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20vh;
    width: 60%;
}

#contact h2 {
    margin-bottom: 4vh;
}

#contact p {
    text-align: left;
    width: 80%;
}

#contact img {
    height: 3vh;
    margin-right: 2vh;
    margin-top: 0.7vh;
}

#contact_content {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

/* #contact_content div {
    margin-right: 9vw;
} */

/**************************************************************************/
/*** kontaktinformationer ***/
#contact div div div {
    display: flex;
    justify-content: left;
}

#eller {
    margin-left: 2.5vw;
}

/**************************************************************************/
/*** kontaktformular ***/
#contact_content form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    background-color: #ddeef8;
    width: 25vw;
    border-radius: 13px;
    padding-left: 1vw;
    font-size: 1vw;
    color: #010e0da8;
    font-family: 'Mukta Vaani';
    margin-top: 0.5vh;
    outline: none;
    resize: vertical;
}

button {
    font-weight: 400;
    width: 10vw;
    height: 3.5vh;
    border: 0;
    border-radius: 10px;
    color: #010E0D;
    background-color: #7DC1E8;
    margin-top: 10px;

    padding-left: 1vw;
    padding-right: 1vw;

}

button a {
    font-family: 'MuseoModerno';
    text-decoration: none;
    color: #010e0da8;
}

button:hover {
    box-shadow: 0 0 15px #a4d5f1;
    transform: scale(1.05);
}

/** linje **/
#twirl {
    height: 32vh;
    /* width: 22vw; */
    position: absolute;
    margin-top: 28vh;
    margin-right: 21vw;
}

path {
    /* Længden af linjen */
    stroke-dasharray: 1000;
    /* Starter tegnet helt */
    stroke-dashoffset: 1000;
    /* Anvender animationen i 5 sekunder og gentager den uendeligt */
    animation: draw 5s linear infinite;
}

@keyframes draw {
    0% {
        /* Starter med linjen helt skjult */
        stroke-dashoffset: 1000;
    }

    50% {
        /* Halvvejs gennem animationen, viser linjen */
        stroke-dashoffset: 0;
    }

    100% {
        /* Slutter med linjen helt skjult igen */
        stroke-dashoffset: -1000;
    }
}

/**************************************************************************/
/***** anbefalinger *****/
#others {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

#others h2 {
    margin-bottom: 40px;
}

#others p {
    font-size: 16px;
}


.others_dark h5,
.others_dark p {
    color: #010e0d !important;
}

.proff {
    font-size: 0.7vw !important;
    margin-top: -0.5vh;
    margin-bottom: 1vh;
}

#others div {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#others div section {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 60vh;
    border-radius: 17px;
    margin-bottom: 5vh;
}

#others div section p {
    width: 80%;
    line-height: 2vh;
}

#others div section img {
    height: 15vh;
    width: auto;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    border-radius: 50%;
}

#others div section:first-child {
    background-color: #750B51;
}

#others div section:nth-child(2) {
    background-color: #7dc1e8ce;
}

#others div section:nth-child(3) {
    background-color: #7FA810;
}

#others div section:nth-child(4) {
    background-color: #D8FDF6;
}